<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="blog-topbar">
        <a class="text link-border" href="#top">XPLUSZ | BLOG</a>
        <a class="text" href="#hidetitle">SHARING</a>
        <a class="text" href="#hidetitle">ACTIVITY</a>
    </div>
    <a id="top"></a>
    {% include header.html %}

    <!-- content start -->

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
    <!-- content end -->

    {% include footer.html %}

  </body>

</html>
